@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poetsen+One&display=swap');

:root {
    --primary-color: rgb(28, 154, 193);
    --secondary-color: rgb(23, 107, 197);
    --highscore-board-border-color: rgb(0,0,0);
    --highscore-board-color: lightblue;
    --speedControl-color: rgb(44,5,6);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Anton", sans-serif;
    font-weight: 200;
    text-align: center;
    background-image: url("bilder/site-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.title {
    font-size: 45px;
    color: white;
    margin: 15px;
}

#board {
    background-image: url("bilder/game-background.png");
    border: solid var(--primary-color) 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 55px;
}

label {
   color: var(--secondary-color);
}

#instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    z-index: 2;
    line-height: 1.5;
}

#musicToggle {
    border-radius: 80%;
    padding: 10px;
    position: absolute;
    top: 40px; 
    right: 80px;
    background-color: white;
    font-size: 25px;
}

#highscoreboard {
    border: 2px solid var(--highscore-board-border-color);
    border-radius: 10%;
    background-color:var(--highscore-board-color);
    padding: 20px 3px;
    width: 190px;
    position: absolute;
    top: 155px;
    right: 195px;
  }
  
  #highscore h3 {
    margin-top: 0;
  }
  
  #highscore ol {
    list-style: none;
    padding: 0;
  }
  
  #highscore li {
    margin-bottom: 5px;
  }