@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poetsen+One&display=swap');

body {
    font-family: "Anton", sans-serif;
    font-weight: 200;
    text-align: center;
    background-image: url("bilder/site-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-size: 45px;
    margin-bottom: 0px;
    color: white;
}

#board {
    background-image: url("bilder/game-background.png");
    position: relative;
    border: solid rgb(28, 154, 193) 3px;
    margin: 15px auto;
    display: block;
}

label {
   color: rgb(23, 107, 197);
}

#instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    z-index: 2;
}

#highscore {
    top: 0;
    margin: 0;
}
