@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poetsen+One&display=swap');

:root {
    --primary-color: rgb(28, 154, 193);
    --secondary-color: rgb(23, 107, 197);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Anton", sans-serif;
    font-weight: 200;
    text-align: center;
    background-image: url("bilder/site-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.title {
    font-size: 45px;
    color: white;
    margin: 15px;
}

#board {
    background-image: url("bilder/game-background.png");
    border: solid rgb(28, 154, 193) 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 55px;
}

label {
   color: rgb(23, 107, 197);
}

#instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    z-index: 2;
    line-height: 1.5;
}

#highscore {
    top: 0;
    margin: 0;
}

#musicToggle {
    border-radius: 80%;
    padding: 10px;
    position: absolute;
    top: 40px; 
    right: 80px;
    background-color: white;
    font-size: 25px;
}

#highscore {
    border: 2px solid #333;
    padding: 10px;
    width: 200px;
    position: absolute;
    top: 155px;
    right: 195px;
  
  }
  
  #highscore h3 {
    margin-top: 0;
  }
  
  #highscore ol {
    list-style: none;
    padding: 0;
  }
  
  #highscore li {
    margin-bottom: 5px;
  }
  
  .player-name {
    font-weight: bold;
  }
  
  .score {
    font-weight: bold;
    color: var(--); 
  }

  /* Media Quieries */

@media only screen and (max-width: 1250px) {
    #highscore {
    border: 2px solid #333;
    padding: 10px;
    width: 200px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#board {
    margin-top: 20px;
}

#musicToggle {
    border-radius: 80%;
    padding: 10px;
    position: absolute;
    top: 91%; 
    right: 10%;
    background-color: white;
    font-size: 25px;
}